@font-face {
    font-family: "FFX Handwriting";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('FFX Handwriting'), url(/fonts/handwriting.woff2) format('woff2');
  }