@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  font-family: "Open Sans", sans-serif;
}

.front
{
  margin: 0;
  background-image: url(https://files.lifereferencemanual.net/go/gobanner.jpg);
  background-position: 0px 80px;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
}